SharedResources/Schema/IP/CommBasicSvc3_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Meera (DBS BANK LIMITED) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by ITG-Business Management Office (DBS Bank) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by ADC (DBS Bank, ITG-AMG Integration CC (0519)) -->
<xs:schema xmlns:ems="http://schemas.dbs.com/icc/ems" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.dbs.com/icc/BasicSvc" targetNamespace="http://schemas.dbs.com/icc/BasicSvc" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.dbs.com/icc/ems" schemaLocation="CommAggregate3_v1.5.xsd"/>
	<xs:annotation>
		<xs:documentation>2011-02-18: Import CommAggregate3_v1.1</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-02-18: Add AlertSvcSubType, SubscribeInd, VerifyStatus; update annotation of AlertSvcType; Rename ChargeCardAcct to ChrgCardAcct and change type to Card; Rename ChargeDepAcct to ChrgDepAcct</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2012-02-13: Add CaseId, CaseStatus, CaseType, AlertId, AlertRuleId, AlertRuleDesc, AlertDateTime, AlertSent</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2012-04-18: Add AlertRulePriority, AlertTriggered</xs:documentation>
	</xs:annotation>
	<xs:element name="AlertDateTime" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date and time of alert generation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AlertId">
		<xs:annotation>
			<xs:documentation>Alert identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AlertRuleDesc">
		<xs:annotation>
			<xs:documentation>Alert rule description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AlertRuleId">
		<xs:annotation>
			<xs:documentation>Alert rule identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AlertRulePriority">
		<xs:annotation>
			<xs:documentation>Alert rule priority</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AlertSent" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if alert was sent</xs:documentation>
			<xs:documentation>true: Alert sent</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AlertSvcSubType">
		<xs:annotation>
			<xs:documentation>Alert service subtype</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AlertSvcType">
		<xs:annotation>
			<xs:documentation>Type of alert service</xs:documentation>
			<xs:documentation>Refer to Alert Service Type code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AlertTriggered" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if alert was triggered for this transaction</xs:documentation>
			<xs:documentation>true: alert was triggered</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseId">
		<xs:annotation>
			<xs:documentation>Case identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CaseStatus">
		<xs:annotation>
			<xs:documentation>Case status</xs:documentation>
			<xs:documentation>Refer to Case Status code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CaseType">
		<xs:annotation>
			<xs:documentation>Case type</xs:documentation>
			<xs:documentation>Possible values are 'ALERT', 'CLAIMS'. etc</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ChrgCardAcct" type="ems:Card">
		<xs:annotation>
			<xs:documentation>Credit card to be charged for the alert service</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ChrgDepAcct" type="ems:DepAcct">
		<xs:annotation>
			<xs:documentation>Deposit Account to be charged for the alert service</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CodedCharSet">
		<xs:annotation>
			<xs:documentation>Type of character set representing the text document</xs:documentation>
			<xs:documentation>Valid values are 'ASCII', 'EBCDIC'
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ASCII"/>
				<xs:enumeration value="EBCDIC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContactLanguage" type="ems:Language">
		<xs:annotation>
			<xs:documentation>Language used for sending alert</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactMode">
		<xs:annotation>
			<xs:documentation>Mode of sending alert</xs:documentation>
			<xs:documentation>Refer to Contact Mode code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CreateDateTime" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date and time the message was created</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocCat">
		<xs:annotation>
			<xs:documentation>Category of document</xs:documentation>
			<xs:documentation>Refer to Document Category code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocContent" type="xs:string">
		<xs:annotation>
			<xs:documentation>Encoded content of document</xs:documentation>
			<xs:documentation>Notes :
- BASE64 encoding increases document content 30% in size
- Recommended content size is less than 20KB
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocDesc">
		<xs:annotation>
			<xs:documentation>Description of document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="80"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocExtnType">
		<xs:annotation>
			<xs:documentation>Extension type of document</xs:documentation>
			<xs:documentation>Refer to Document Extension Type code in Foundation for EMS - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocId">
		<xs:annotation>
			<xs:documentation>Text identification of the document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EncodeType">
		<xs:annotation>
			<xs:documentation>Method of coding text document</xs:documentation>
			<xs:documentation>Only BASE64 is supported for mainframe

Valid values are ‘BASE64’, ‘UUENCODE’
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BASE64"/>
				<xs:enumeration value="UUENCODE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MailAddr" type="ems:Address">
		<xs:annotation>
			<xs:documentation>Mail address</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgContent" type="xs:string">
		<xs:annotation>
			<xs:documentation>Content of the message</xs:documentation>
			<xs:documentation>Notes :
- BASE64 encoding increases content size by 1/3
- Recommended content size is less than 20KB</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date indicated in the message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgDesc">
		<xs:annotation>
			<xs:documentation>Description of message</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="80"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MsgSize" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Total size of message in bytes</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgTime" type="xs:time">
		<xs:annotation>
			<xs:documentation>Time indicated in the message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgType">
		<xs:annotation>
			<xs:documentation>Type of message</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReceivedDateTime" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date and time the message was received</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubscribeInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Subscription indicator for the alert service type</xs:documentation>
			<xs:documentation>true: the customer subscribes to the alert
false: the customer does not subscribe to the alert</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SWIFTAddr">
		<xs:annotation>
			<xs:documentation>SWIFT identifier code</xs:documentation>
			<xs:documentation>This can either be BIC or BEI
BIC: Bank Identifier Code (for financial institutions)
BEI: Business Entity Identifier (for non-financial institutions)
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TargetSysId">
		<xs:annotation>
			<xs:documentation>Targeted receiving system</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TelexAddr">
		<xs:annotation>
			<xs:documentation>Telex Address</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VerifyStatus">
		<xs:annotation>
			<xs:documentation>Verify status of the contact information</xs:documentation>
			<xs:documentation>Refer to Verification Status code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
