SharedResources/Schema/IP/CommAcctProfSvc3_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Kanne (DBS BANK LIMITED) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by ITG-Business Management Office (DBS Bank) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by DBS Bank (DBS Bank, ITG-AMG Integration CC (0519)) -->
<xs:schema xmlns:cst="http://schemas.dbs.com/icc/CustomerSvc" xmlns:ems="http://schemas.dbs.com/icc/ems" xmlns="http://schemas.dbs.com/icc/AcctProfSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.dbs.com/icc/AcctProfSvc" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.dbs.com/icc/ems" schemaLocation="CommAggregate3_v1.5.xsd"/>
	<xs:import namespace="http://schemas.dbs.com/icc/CustomerSvc" schemaLocation="CommCustomerSvc3_v1.2.xsd"/>
	<xs:annotation>
		<xs:documentation>2009-11-04: New for message set 3; Expand AcctHolderName to NC-80, define length of AcctScheme, align annotation of coded fields</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2009-11-21: Rename ODlmt as ODLimit and amend description; ODLmtType as ODLimitType, ODLmtDetl as ODLimitDetl</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-04-07: Add MailingInstr, MailingInstrDesc</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-04-28: Amend annotation for AcctStaticInqResult, BOA, AcctScheme; Rename ODLimitType as ODLmtType, ODLimitDetl as ODLmtDetl</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-04-30: Rename CampaignCode to CampaignId, define as maxlen-36</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-05-03: Add AcctStatusReason and AcctSignalReason to AcctStaticInqResult, Add ODLimitType</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-10-28: Add Nomination to AcctStaticInqResult</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-11-15: Import CommCustomerSvc3_v1.1</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-01-26 (Version 1.2): Import CommAggregate3_v1.1, CommCustomerSvc3_v1.2</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-01-28 (Version 1.2): Amend annotation for HoldType; Set length for ODType as 20 and amend annotation; Set length for ODLmtType as 4 and amend annotation</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-09-02 (Version 1.2): Add AcctStatusDate</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-09-05 (Version 1.2): Add SpecialSignInstr, MMA, SecInvCode, DespatchLoc, LastStmtDate, ReturnedMail, AcctAddr</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2012-02-10 (Version 1.2): Add AcctSeg, SecSetlAcct</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2012-03-21 (Version 1.2): Update annotation of MasterAcct</xs:documentation>
	</xs:annotation>
	<xs:element name="AcctAddr" type="ems:Address">
		<xs:annotation>
			<xs:documentation>Account address</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AcctHolderCISId" type="ems:CISCustId">
		<xs:annotation>
			<xs:documentation>Account Holder (CIS) identifier</xs:documentation>
			<xs:documentation>May repeat if joint account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AcctHolderId">
		<xs:annotation>
			<xs:documentation>Account Holder Identifier</xs:documentation>
			<xs:documentation>May repeat if joint account</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AcctHolderInqResult">
		<xs:annotation>
			<xs:documentation>Account Holder information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="AcctHolderId"/>
					<xs:element ref="AcctHolderCISId"/>
				</xs:choice>
				<xs:element ref="AcctHolderName" minOccurs="0"/>
				<xs:element ref="cst:CustDoc" minOccurs="0" maxOccurs="10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcctHolderName">
		<xs:annotation>
			<xs:documentation>Account holder name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="80"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AcctScheme">
		<xs:annotation>
			<xs:documentation>Account scheme type</xs:documentation>
			<xs:documentation>Refer to Account Scheme code in Foundation for IP Message Set - Codes document </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AcctSeg">
		<xs:annotation>
			<xs:documentation>Account segment</xs:documentation>
			<xs:documentation>Refer to Segment code in Foundation for IP Message Set – Codes document  </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AcctStaticInqResult">
		<xs:annotation>
			<xs:documentation>Static information of the account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ems:AcctStatus"/>
				<xs:element ref="ems:AcctStatusReason" minOccurs="0"/>
				<xs:element ref="ems:AcctSignal" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ems:AcctSignalReason" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ems:AcctType" minOccurs="0"/>
				<xs:element ref="ems:AcctSignType" minOccurs="0"/>
				<xs:element ref="OpenDate" minOccurs="0"/>
				<xs:element ref="CloseDate" minOccurs="0"/>
				<xs:element ref="ProdInd" minOccurs="0"/>
				<xs:element ref="TfrDetail" minOccurs="0"/>
				<xs:element ref="ems:AcctName"/>
				<xs:element ref="StaffInd" minOccurs="0"/>
				<xs:element ref="BOA" minOccurs="0"/>
				<xs:element ref="AcctScheme" minOccurs="0"/>
				<xs:element ref="GTRDetail" minOccurs="0"/>
				<xs:element ref="ems:Nomination" minOccurs="0"/>
				<xs:element ref="AcctHolderInqResult" minOccurs="0" maxOccurs="10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcctStatusDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date of last account status update</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AutoFundFlow" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if account is tagged for auto funds flow</xs:documentation>
			<xs:documentation>true: auto funds flow applies
false: auto funds flow does not apply </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AvailBal" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Available balance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BOA">
		<xs:annotation>
			<xs:documentation>Branch of account</xs:documentation>
			<xs:documentation>Refer to Branch code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CampaignId">
		<xs:annotation>
			<xs:documentation>Campaign Identifier </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CloseDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Account closure/transfer date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CoreAcct" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the account is the main account in a scheme/package to which a group of accounts belong  </xs:documentation>
			<xs:documentation>true  : main account
false: linked account </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DespatchLoc">
		<xs:annotation>
			<xs:documentation>Statement despatch location</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Earmark" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Earmarked amount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FundFlow" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates that the account can be used for fund flow purposes</xs:documentation>
			<xs:documentation>true: Can be used for fund flow purpose</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GT2DayHold" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Greater-than-2-day hold amount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GTRDetail">
		<xs:annotation>
			<xs:documentation>GTR details</xs:documentation>
			<xs:documentation>Applicable to POSB CA accounts only</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GTRSAAcctId" type="ems:DepAcct">
					<xs:annotation>
						<xs:documentation>SA account linked to GTR</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GTRLmt" type="ems:Amount" minOccurs="0">
					<xs:annotation>
						<xs:documentation>GTR Limit</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HalfDayHold" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Half-day hold amount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HoldDetl">
		<xs:annotation>
			<xs:documentation>Hold details</xs:documentation>
			<xs:documentation>Used to represent all types of holds, e.g. cheque holds, earmark of funds for collateral, etc.
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HoldType"/>
				<xs:element name="HoldPurpose" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Description of hold</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HoldAmt" type="ems:Amount">
					<xs:annotation>
						<xs:documentation>Hold amount</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HoldType">
		<xs:annotation>
			<xs:documentation>Type of hold</xs:documentation>
			<xs:documentation>Refer to Hold Type code in Foundation for IP Message Set - Codes document </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HouseHold" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>House-hold amount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LastStmtDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date of last statement</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LastTransDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date of last transaction</xs:documentation>
			<xs:documentation>If account is closed, this may be the same as the closure date (for some products)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LedgerBal" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Ledger balance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MailingInstr">
		<xs:annotation>
			<xs:documentation>Mailing instruction for the account</xs:documentation>
			<xs:documentation>Refer to Mailing Instruction code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MailingInstrDesc">
		<xs:annotation>
			<xs:documentation>Description of mailing instruction</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasterAcct" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the account is a master account</xs:documentation>
			<xs:documentation>Applicable for accounts having umbrella structure only</xs:documentation>
			<xs:documentation>true: master account
false: child account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MinBal" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Minimum balance that must be maintained for the account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MMA" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the account is a Money Management Account</xs:documentation>
			<xs:documentation>true: Money Management Account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ODEligible" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the account is eligible for OD line</xs:documentation>
			<xs:documentation>true: eligible for OD line</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ODLimit" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Credit limit granted on a current account </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ODLmt" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Overdraft limit</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ODLmtDetl">
		<xs:annotation>
			<xs:documentation>Overdraft limit details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ODLmtType"/>
				<xs:element ref="ODLmt"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ODLmtType">
		<xs:annotation>
			<xs:documentation>Overdraft limit type</xs:documentation>
			<xs:documentation>Refer to OD Limit Type code in Foundation for IP Message Set - Codes document  </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ODLimitType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Overdraft limit type</xs:documentation>
			<xs:documentation>Refer to OD Limit Type code in Foundation for EMS - Codes document  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ODType">
		<xs:annotation>
			<xs:documentation>Nature of the overdraft</xs:documentation>
			<xs:documentation>Refer to OD Type code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OneDayHold" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>One-day hold amount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OpenDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Account opening date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ProdInd">
		<xs:annotation>
			<xs:documentation>Product indicator</xs:documentation>
			<xs:documentation>Values/meaning depend on context.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetChqDetl">
		<xs:annotation>
			<xs:documentation>Returned cheque details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RetChqPeriod">
					<xs:annotation>
						<xs:documentation>Period for which returned cheque is applicable</xs:documentation>
						<xs:documentation>Refer to Period Code code in Foundation for IP Message Set - Codes document</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RetChqCnt">
					<xs:annotation>
						<xs:documentation>Returned Cheque count</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReturnedMail" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if mail has been returned for the account</xs:documentation>
			<xs:documentation>true: Returned mail received</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SchemeAcctId">
		<xs:annotation>
			<xs:documentation>Unique identifier for a scheme/package to which a group of accounts belong</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecInvCode">
		<xs:annotation>
			<xs:documentation>Code for securities investment</xs:documentation>
			<xs:documentation>Refer to Securities Investment code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecSetlAcct">
		<xs:annotation>
			<xs:documentation>Indicates if the account is used for settlement of securities transactions</xs:documentation>
			<xs:documentation>Possible values are ‘D’, ‘S’, ‘N’
D: Default settlement account
S: Used for settlement but not default 
N: Not used for settlement
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SpecialSignInstr" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if special signatory requirements exists</xs:documentation>
			<xs:documentation>true: Special signatory requirements exists</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StaffInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Staff indicator</xs:documentation>
			<xs:documentation>Indicates if account belongs to a staff</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubAcct" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the account is a sub account</xs:documentation>
			<xs:documentation>true: sub account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TfrDetail">
		<xs:annotation>
			<xs:documentation>Transfer details</xs:documentation>
			<xs:documentation>Applicable to transferred accounts only</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TfrAcctId" type="ems:DepAcct" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Transferred account identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TfrInDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Transfer-in date</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ThirdPartyAcct" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Third party account indicator</xs:documentation>
			<xs:documentation>true: third party account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TotRelnCharging" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Total footing for relationship charging</xs:documentation>
			<xs:documentation>Used to determine charges to be applied to/waived from customer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TotRelnPricing" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Total footing for relationship pricing</xs:documentation>
			<xs:documentation>Used to determine preferential rates to be offered to customer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TradeFin" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Trade finance indicator</xs:documentation>
			<xs:documentation>true: Trade finance applies
false: Trade finance does not apply 
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TwoDayHold" type="ems:Amount">
		<xs:annotation>
			<xs:documentation>Two-day hold amount</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
