SharedResources/Schema/IP/CommCustomerSvc3_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Kanne (DBS BANK LIMITED) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by ITG-Business Management Office (DBS Bank) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by ADC (DBS Bank, ITG-AMG Integration CC (0519)) -->
<xs:schema xmlns:ems="http://schemas.dbs.com/icc/ems" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.dbs.com/icc/CustomerSvc" targetNamespace="http://schemas.dbs.com/icc/CustomerSvc" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.dbs.com/icc/ems" schemaLocation="CommAggregate3_v1.5.xsd"/>
	<xs:annotation>
		<xs:documentation>2009-11-04: Version 1.0 - New for message set 3</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2009-11-09: Version 1.0 - expanded MaritalStatus, Race, EmailAddrType and Constitution to NC-4; make EmailAddrType optional in EmailAddrDetl; remove CustStatusInfo from CustStatusDetl</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2009-11-11: Version 1.0 - expand Nationality, ResidentCtry, IncorpCtry, OperatingCtry, DocIssueCtry to NC-3; Update annotation of OccupationGrp, WatchListReason, BlackListReason; Remove enumerated values for CISAddrType and CloseInd</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2009-11-17: Version 1.0 - Add AddrType</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-01-13: Version 1.0 - Make PrimaryDoc in CustDoc optional</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-01-04: Version 1.0 - Update annotation of coded fields to refer to Foundation for IP Message Set; expand AddrType to NC-5</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-04-14: Version 1.0 - Update annotation of GSTResident; Add GSTRegistered to PartyCorp, GSTResident to PartyIndv; Add PhoneUsage, Telex</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-07-08: Version 1.0 - Update annotation of CISAddrCustId; add AddrInternalId, remove AddrId</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-07-13: Version 1.0 - Add CustRiskScoreDetl, CustRiskScore, RiskScoreDateTime</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-08-12: Version 1.0 - Update annotation of AcctAddrCISId; add CustInternalId to AcctAddrCISId (XOR with CISAddrCustId)</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-09-23: Version 1.0 - Add PrefAddr, PrefPhone, PrefEmail, Relationship, RelationshipDesc, RelatedAcct, RelatedRef, ShareHldgPercent</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-09-28: Version 1.0 - Expand OccupationGrp to NC-5</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-11-01: Version 1.1 - Add Minor and Resident indicators to PartyIndv</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2010-11-12: Version 1.1 - Add PhoneInternalId</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-01-26: Version 1.2 - Import CommAggregate3_v1.1 </xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-04-05: Version 1.2 - Add CustGrpId, JobTitleDesc, PermanentRes</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-04-15: Version 1.2 - Remove GSTResident from PartyIndv aggregate</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-04-29: Version 1.2 - Change annotaion of DoNotSpam to include phone no.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2011-07-08: Version 1.2 - Add StaffId, NonResidentDate, HoldMail, HoldMailReason</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2012-02-01: Version 1.2 - Add CustSeg</xs:documentation>
	</xs:annotation>
	<xs:element name="AcctAddrId">
		<xs:annotation>
			<xs:documentation>Account Address Identifier</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="AcctAddrIntId">
					<xs:annotation>
						<xs:documentation>Account Address Internal Id</xs:documentation>
						<xs:documentation>Identifier which points to the actual address record</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AcctAddrCISId">
					<xs:annotation>
						<xs:documentation>Account Address Internal Id (CIS)</xs:documentation>
						<xs:documentation>May point to an actual address record, or may contain special mailing instructions.

If CISIntId element is not present, then AcctAddrCISId contains special mail handling instructions instead of an actual address</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:choice minOccurs="0">
								<xs:element ref="ems:CustInternalId" minOccurs="0"/>
								<xs:element ref="CISAddrCustId" minOccurs="0"/>
							</xs:choice>
							<xs:element ref="CISAddrType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddrId">
		<xs:annotation>
			<xs:documentation>Address identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AddrInternalId">
		<xs:annotation>
			<xs:documentation>Address internal identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AddrType">
		<xs:annotation>
			<xs:documentation>Address Type</xs:documentation>
			<xs:documentation>Refer to Address Type code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BirthDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date of birth</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BizNature">
		<xs:annotation>
			<xs:documentation>Nature of business</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BlackListDetl">
		<xs:annotation>
			<xs:documentation>Blacklist details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BlackListReason" maxOccurs="unbounded"/>
				<xs:element ref="BlackListRemarks" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BlackListReason">
		<xs:annotation>
			<xs:documentation>Reason for black list tagging</xs:documentation>
			<xs:documentation>Refer to BlacklistReason code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BlackListRemarks">
		<xs:annotation>
			<xs:documentation>Remarks for black list tagging</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CISAddrCustId" type="ems:CISCustId">
		<xs:annotation>
			<xs:documentation>CIS (S'pore) Internal Customer Id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CISAddrType">
		<xs:annotation>
			<xs:documentation>Address type</xs:documentation>
			<xs:documentation>HOM, AD1, AD2, OFF, RES types point to actual addresses, and must be accompanied by the CIS customer identifier.

The other address types are special handling instructions. </xs:documentation>
			<xs:documentation>HOM and OFF are mutually exclusive. HOM is used for individual customers, OFF is used by corporate customers. 

RES (residential address) is applicable only to individual customers and cannot be used as a mailing address.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CloseInd">
		<xs:annotation>
			<xs:documentation>Closure Indicator</xs:documentation>
			<xs:documentation>Refer to Closure Indicator code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Constitution">
		<xs:annotation>
			<xs:documentation>Customer's legal structure or constitution</xs:documentation>
			<xs:documentation>Refer to Constitution code in Foundation for IP Message Set - Codes document </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ConstitutionDesc">
		<xs:annotation>
			<xs:documentation>Legal Structure description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustAddrId">
		<xs:annotation>
			<xs:documentation>Customer address identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustDoc">
		<xs:annotation>
			<xs:documentation>Details of customer's identification documents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrimaryDoc" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicates if the document is the primary document used for identification purpose</xs:documentation>
						<xs:documentation>true: Primary doc
false: Not primary doc
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DocType"/>
				<xs:element ref="DocTypeDesc" minOccurs="0"/>
				<xs:element ref="DocNum"/>
				<xs:element name="DocIssuePlace" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Place where document is issued</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="DocIssueCtry" minOccurs="0"/>
				<xs:element name="DocIssueDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date document was issued</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DocExpiryDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Expiry date of document</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustGrpId">
		<xs:annotation>
			<xs:documentation>Customer group identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustOwner">
		<xs:annotation>
			<xs:documentation>Customer owning department or group</xs:documentation>
			<xs:documentation>Refer to Customer Owner code in Foundation for IP Message Set - Codes document </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustRiskScore">
		<xs:annotation>
			<xs:documentation>Customer risk score</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustRiskScoreDetl">
		<xs:annotation>
			<xs:documentation>Customer risk score detail</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustRiskScore"/>
				<xs:element ref="RiskScoreDateTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustSeg">
		<xs:annotation>
			<xs:documentation>Customer segment</xs:documentation>
			<xs:documentation>Refer to Segment code in Foundation for IP Message Set - Codes</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustSegDetl">
		<xs:annotation>
			<xs:documentation>Customer grouping / segmentation details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SegLevel1" minOccurs="0"/>
				<xs:element ref="SegLevel2" minOccurs="0"/>
				<xs:element ref="SegLevel3" minOccurs="0"/>
				<xs:element ref="SegLevel4" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustStatusDetl">
		<xs:annotation>
			<xs:documentation>Customer status details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ems:CustStatus"/>
				<xs:element name="CustStatusDesc" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Customer status description</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocIssueCtry">
		<xs:annotation>
			<xs:documentation>Country where document is issued</xs:documentation>
			<xs:documentation>Refer to Country code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocNum">
		<xs:annotation>
			<xs:documentation>Document Number</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocType">
		<xs:annotation>
			<xs:documentation>Document Type</xs:documentation>
			<xs:documentation>Refer to Document Type code in Foundation for IP Message Set - Codes document  
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocTypeDesc">
		<xs:annotation>
			<xs:documentation>Description of document type</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DoNotSpam" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the email address/mobile phone can be used for sending of promotional materials</xs:documentation>
			<xs:documentation>true: cannot be used for promotional materials (i.e. for official communications only)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EmailAddrDetl">
		<xs:annotation>
			<xs:documentation>Email details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmailAddrType" minOccurs="0"/>
				<xs:element ref="EmailAddr"/>
				<xs:element ref="ems:EffDate" minOccurs="0"/>
				<xs:element ref="ems:ExpiryDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailAddr">
		<xs:annotation>
			<xs:documentation>Email address or URL</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EmailAddrType">
		<xs:annotation>
			<xs:documentation>Email Address Type
</xs:documentation>
			<xs:documentation>Refer to Email Address Type code in Foundation for IP Message Set - Codes document
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Employment">
		<xs:annotation>
			<xs:documentation>Information about customer's employer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmpName" minOccurs="0"/>
				<xs:element ref="JobTitle" minOccurs="0"/>
				<xs:element ref="OccupationGrp" minOccurs="0"/>
				<xs:element ref="OccupationGrpDesc" minOccurs="0"/>
				<xs:element ref="Occupation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmpName">
		<xs:annotation>
			<xs:documentation>Employer Name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Gender">
		<xs:annotation>
			<xs:documentation>Gender</xs:documentation>
			<xs:documentation>Refer to Gender code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GSTRegistered" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the customer is registered within the country (for GST purposes)</xs:documentation>
			<xs:documentation>true: registered</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GSTResident" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the customer is residing in the country (for GST purposes)</xs:documentation>
			<xs:documentation>true: resident</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HoldMail" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if address can be used for mailing purposes</xs:documentation>
			<xs:documentation>true: Hold mail / do not mail to address</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HoldMailReason">
		<xs:annotation>
			<xs:documentation>Reason for hold mail setting</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncorpCtry">
		<xs:annotation>
			<xs:documentation>Country where customer was incorporated</xs:documentation>
			<xs:documentation>Refer to Country code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncorpCtryDesc">
		<xs:annotation>
			<xs:documentation>Country of incorporation description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncorpDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date of Incorporation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Industry">
		<xs:annotation>
			<xs:documentation>Industry Code</xs:documentation>
			<xs:documentation>Refer to Industry Code in Foundation for IP Message Set - Codes document 
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IndustryDesc">
		<xs:annotation>
			<xs:documentation>Standard local industry code description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JobTitle">
		<xs:annotation>
			<xs:documentation>Job title</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JobTitleDesc">
		<xs:annotation>
			<xs:documentation>Job title description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MaritalStatus">
		<xs:annotation>
			<xs:documentation>Marital Status</xs:documentation>
			<xs:documentation>Refer to Marital Status codes in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MaritalStatusDesc">
		<xs:annotation>
			<xs:documentation>Marital status description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Minor" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the customer is a minor</xs:documentation>
			<xs:documentation>true: Minor</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MotherMaidenName">
		<xs:annotation>
			<xs:documentation>Mother's maiden name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="120"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nationality">
		<xs:annotation>
			<xs:documentation>Nationality</xs:documentation>
			<xs:documentation>Refer to Country code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NationalityDesc">
		<xs:annotation>
			<xs:documentation>Description of country of nationality</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NonResidentDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date when customer's resident status becomes non-resident</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Occupation">
		<xs:annotation>
			<xs:documentation>Occupation</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OccupationGrp">
		<xs:annotation>
			<xs:documentation>Occupation group</xs:documentation>
			<xs:documentation>Refer to Occupation Group code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OccupationGrpDesc">
		<xs:annotation>
			<xs:documentation>Occupation group description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingCtry">
		<xs:annotation>
			<xs:documentation>Country where customer is operating in</xs:documentation>
			<xs:documentation>Refer to Country code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingCtryDesc">
		<xs:annotation>
			<xs:documentation>Country of operation description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartyCorp">
		<xs:annotation>
			<xs:documentation>Demographic information pertaining only to corporate customers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IncorpDate" minOccurs="0"/>
				<xs:element ref="Constitution" minOccurs="0"/>
				<xs:element ref="ConstitutionDesc" minOccurs="0"/>
				<xs:element ref="IncorpCtry" minOccurs="0"/>
				<xs:element ref="IncorpCtryDesc" minOccurs="0"/>
				<xs:element ref="OperatingCtry" minOccurs="0"/>
				<xs:element ref="OperatingCtryDesc" minOccurs="0"/>
				<xs:element ref="BizNature" minOccurs="0"/>
				<xs:element ref="GSTRegistered" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyIndv">
		<xs:annotation>
			<xs:documentation>Demographic information pertaining only to non-corporate (individual) customers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BirthDate" minOccurs="0"/>
				<xs:element ref="Gender" minOccurs="0"/>
				<xs:element ref="Nationality" minOccurs="0"/>
				<xs:element ref="NationalityDesc" minOccurs="0"/>
				<xs:element ref="ResidentCtry" minOccurs="0"/>
				<xs:element ref="ResidentCtryDesc" minOccurs="0"/>
				<xs:element ref="Race" minOccurs="0"/>
				<xs:element ref="RaceDesc" minOccurs="0"/>
				<xs:element ref="MaritalStatus" minOccurs="0"/>
				<xs:element ref="MaritalStatusDesc" minOccurs="0"/>
				<xs:element ref="Employment" minOccurs="0"/>
				<xs:element ref="Resident" minOccurs="0"/>
				<xs:element ref="Minor" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PermanentRes" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if customer is permanent resident</xs:documentation>
			<xs:documentation>true: Permanent resident</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PhoneInternalId">
		<xs:annotation>
			<xs:documentation>Phone internal identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PhoneUsage">
		<xs:annotation>
			<xs:documentation>Indicates the purpose associated with this phone</xs:documentation>
			<xs:documentation>Refer to Phone Usage code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PrefAddr" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates the preferred address for communication purposes</xs:documentation>
			<xs:documentation>true: Preferred</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PrefEmail" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates the preferred email for communication purposes</xs:documentation>
			<xs:documentation>true: Preferred</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PrefPhone" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates the preferred phone for communication purposes</xs:documentation>
			<xs:documentation>true: Preferred</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PrimaryHolder" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if customer is primary holder of account</xs:documentation>
			<xs:documentation>true: Primary Holder
false: Not Primary Holder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Race">
		<xs:annotation>
			<xs:documentation>Ethnic group</xs:documentation>
			<xs:documentation>Refer to Race code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RaceDesc">
		<xs:annotation>
			<xs:documentation>Race description</xs:documentation>
			<xs:documentation>E.g of values are Chinese, Malay, Indian, Others</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RelatedAcct">
		<xs:annotation>
			<xs:documentation>Details of related account</xs:documentation>
			<xs:documentation>Mandatory for signatory/mandatee relationships</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ems:ProdCode"/>
				<xs:element ref="ems:AcctId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelatedRef">
		<xs:annotation>
			<xs:documentation>Additional information about the relationship</xs:documentation>
			<xs:documentation>This could be the rating identifier in the case of external rating agency relationship</xs:documentation>
			<xs:documentation>Mandatory for external rating agency relationships</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Relationship">
		<xs:annotation>
			<xs:documentation>Relationship type</xs:documentation>
			<xs:documentation>Describes how the party in the first occurrence of RelatedCust is related to the party in second occurrence of RelatedCust</xs:documentation>
			<xs:documentation>Refer to Relationship Type code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RelationshipDesc">
		<xs:annotation>
			<xs:documentation>Relationship type description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Resident" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if the customer is residing in the country where he is a citizen</xs:documentation>
			<xs:documentation>true: Resident</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResidentCtry">
		<xs:annotation>
			<xs:documentation>Country of residence</xs:documentation>
			<xs:documentation>Refer to Country code in Foundation for IP Message Set - Codes document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ResidentCtryDesc">
		<xs:annotation>
			<xs:documentation>Country of residence description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RiskScoreDateTime" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date and time of last risk score update</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SegLevel1">
		<xs:annotation>
			<xs:documentation>Customer segmentation level 1</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SegLevel2">
		<xs:annotation>
			<xs:documentation>Customer segmentation level 2</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SegLevel3">
		<xs:annotation>
			<xs:documentation>Customer segmentation level 3</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SegLevel4">
		<xs:annotation>
			<xs:documentation>Customer segmentation level 4</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShareHldgPercent" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Percentage of shareholding</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Staff" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if customer is a staff</xs:documentation>
			<xs:documentation>true: staff
false: not staff</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StaffId">
		<xs:annotation>
			<xs:documentation>Staff identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Telex">
		<xs:annotation>
			<xs:documentation>Telex number</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WatchListDetl">
		<xs:annotation>
			<xs:documentation>Watch list details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WatchListReason" maxOccurs="unbounded"/>
				<xs:element ref="WatchListRemarks" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WatchListReason">
		<xs:annotation>
			<xs:documentation>Reason for watch list tagging</xs:documentation>
			<xs:documentation>Refer to Watch List Reason code in Foundation for IP Message Set - Codes</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WatchListRemarks">
		<xs:annotation>
			<xs:documentation>Remarks for watch list tagging</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
